*{
    margin:0;
    padding:0;
    font-family: 'proxima-nova', sans-serif;
}
html{
    font-size:medium;
}
html,body{
    background-color:#fdfcdc;
}

.main-container{
    width:95%;
	margin: 0 auto 0;
	background: #fdfcdc;/*#FFEF73;/* rgb(18, 103, 176);*/
	/*border: 0 1px 1px 1px  solid #939393;*/
	border-radius: 0 0 6px 6px;
	min-height:1000px;
}


.main-menu {
    height:37px;
    background-image: linear-gradient(to top, #fb9f9b, #ea1502);
}

.main-menu ul{
     list-style:none;
}
.main-menu ul li{
    /*display: inline;*/
     float:left;
     margin-right:15px;

}

.main-menu ul li a{
    /*font-family: 'Rouge Script', cursive;*/
    color: White;/*#757575;*/
    text-decoration: none;
    height: 37px;
    padding: 0 12px;
    /*display: block;*/
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
}

.main-menu ul li a:hover{
     color:#616161;
     background-color:White;
     text-decoration:none;
}

.top-line{
    width: 100%;
    height: 37px;
    background-image: linear-gradient(to bottom, #fb9f9b, #ea1502);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.33);
    top: -2px;
    z-index: 13;
}

#navigation{
     width:900px;
     height:auto;
     background-color: #fc4f21;
     text-align:middle;
}

#navigation img{
    margin-top:3px;
    margin-right:-7px;
}

#navigation ul{
     list-style:none;
}

#navigation ul li{
     float:left;
     margin-right:15px;
}

#navigation ul li a{
     color: White;/*#757575;*/
     text-decoration: none;
    height: 37px;
    padding: 0 12px;
    display: block;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;



}

#navigation ul li a:hover{
     color:#616161;
     background-color:White;
     text-decoration:none;
}

#navigation ul li p{
    color: White;
   /* font-family: 'Rouge Script', cursive;*/
    font-size: 22px;
    height: 34px;
    line-height: 1.6;
}

.brand{
    height:100px;
    min-width: 600px;
    background-color: #fdfcdc;
}
.item-row{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-item {
    float:left;
    /*display:inline-block;*/
    width:200px;
    height: 300px;
    margin: 20px;
    border: 1px solid  #fc4f21;
    border-radius: 8px ;
}

.card-item:hover {
    box-shadow: 0 0 5px 2px #fc4f21;
    border: 1px solid  #fc4f21;
    border-radius: 8px ;
   }

.card-item img{
    width:100%;
    margin-top: 10px;
}

.card-link {
    color: #369;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: tahoma,arial,sasn-serif;
    font-weight: normal;
}

.card-link-p{
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    font-size: 20px;
}

.my-btn {
    /*width:80%;*/
    margin: 20px 0 0 22px;
}

a.button25 {
margin: 5px;
  position: relative;
  display: inline-block;
  width: 9em;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 10px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

a.button25:hover{
  background: linear-gradient(#fca88e, #fcd2c8 48%, #f5704f 52%, #ea390d);
}

a.button25:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.my-logo{
    color: #F64C2B;
    font-family: 'Rouge Script', cursive;
    font-size: 20px; font-weight: normal;
     line-height: 50px;
     margin: 0 0 0 50px;
     text-align: left; text-shadow: 1px 1px 2px #082b34;


display: flex;
direction: row;
justify-content: space-around;
align-items: center;


}
.my-logo div{
display:inline-block;
}

.my-logo div img{
}

.my-logo a {
    color:#fc4f21 !important;
    text-decoration:none;
}


.my-logo-link {

}

.brand-cart {
float:right;
    margin:30px 30px 30px 0 ;
}

.social-networks{
float: center;
margin-left:50px;
}


.info-main-page {
    justify-content: center;
    text-align: center;
}

.header-info {
    min-height:100px;
    background-image: linear-gradient(to top, #fa5c68, #fed4ca)
}

.header-info-content {
    margin-top: 20px;
}

.info-about-company {
    min-height: 200px;
    background: #4f1663;
    flex-direction: column;
    justify-content: flex-start;
    color:#c1ff00;
}

.info-about-goods {
    min-height: 200px;
    background: #e8f6ff;
    color: #fc4f21;
    font-family: 'proxima-nova', sans-serif;
}

.sample-content {
    padding: 0 20px;
    text-align: left;
}

.sample-content-text {
    padding-top: 10px;
}


.sample-content-text img {
    padding-right: 10px;
}

.info-about-benefit {
    min-height: 300px;
    background: #fb717b;
    color: #202020;
}

.info-about-features {
    min-height: 300px;
    background: #32CD32;
}

.item-plus-img {
    flex-direction: row;
}

footer {
    min-height: 200px;
    background-image: linear-gradient(to bottom, #fb9f9b, #ea1502);
}


.footer-container {
display: flex;
direction: row;
justify-content: space-around;
align-items:baseline;
}

.nav-footer ul{
color: White;
     list-style:none;
}

.nav-footer p{
color: White;
     list-style:none;
}

.nav-footer ul li a{
     text-decoration: none;
     color: white;
}

.nav-footer ul li h3{
     color: white;
}

.nav-footer ul li a:hover{
     text-decoration: underline;
}

.flex-menu {
width:100%;
min-height: 38px;
background-image: linear-gradient(to top, #fb9f9b, #ea1502);
display: flex;
direction: row;
justify-content: space-around;
align-items: center;
}

.flex-menu-inner a{
    padding: 9px;
    text-decoration: none;
    color: White;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.flex-menu-inner a:hover{
     color:#616161;
     background-color:White;
     text-decoration:none;
}

.my-logo-new {
display: flex;
direction: row;
justify-content: space-around;
align-items: center;
}

.my-logo-new a{
    color:#fc4f21 !important;
    text-decoration:none;
    }


.breadcrumbs {
    margin-top: 8px;
    color: #191919;
}


.breadcrumbs a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
}

.page-header{
text-align: center;
    color: #191919;
}

.product-card{
    margin-top: 10px;

    display: -webkit-flex;
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
}

.product-card img{
    margin-right: 10px;
    width: 400px;
}

.product-card ul{
     list-style:none;
}

.my-cart{
    margin-top: 10px;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}

.order-button {
margin: 5px;
  position: relative;
  display: inline-block;
  width: 9em;
  height: 1.8em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  font-size: 18px;
    font-family: 'proxima-nova', sans-serif;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 10px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.order-button:hover {
    background: linear-gradient(#fca88e, #fcd2c8 48%, #f5704f 52%, #ea390d);
    cursor: pointer;
}


.order-button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.form-container{
    margin-top: 10px;
}