{% extends 'base.html' %}

{% block wrapper %}
<div>
    <h1>
        Магазин товаров для детей «Крошка-Астра» рад приветствовать Вас на своем сайте!
    </h1>
    <p>
        Ассортимент нашего интернет-магазина товаров для детей постоянно пополняется!
        Здесь Вы найдете все, что нужно для счастливого детства: трусики, многоразовые подгузники, товары для гигиены, большой ассортимент одежды,
        игрушек и многое другое для детей от 0. Специально для своих клиентов мы
        отобрали наиболее качественные товары от лучших производителей, поэтому все изделия
        нашего магазина не только функциональные, но и безопасные.
        Все товары имеют сертификаты качества и соответствия.
        Опытные продавцы-консультанты, подробно расскажут Вам об ассортименте, ответят на Ваши
        вопросы и помогут подобрать первый гардероб для Вашего малыша. Мы очень любим своих покупателей.
        Именно поэтому для наших покупателей мы регулярно проводим акции, а для наших постоянных
        покупателей существует накопительная система скидок.
        Магазин детских товаров «Крошка-Астра» – это индивидуальные схемы работы, широкий ассортимент
        и радость на лицах наших покупателей и их детей.
    </p>
</div>
{% endblock %}