{% extends 'base.html' %}

{% block wrapper %}

<div class="page-header">
    <h1>Ваш предварительный заказ</h1>
</div>
<br/>
<div>
<table>
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    {% for item in cart.item.all %}
    <tr>
        <td>{{item.product.title}}</td>
        <td>{{item.qty}}</td>
        <td>{{ item.item_total }} руб.</td>
        <td></tr>
    {% endfor %}
    <tr>
        <td></td>
        <td><strong>Итого:</strong></td>
        <td><strong>{{ cart.cart_total }} руб.</strong></td>
        <td></td>
    </tr>
</table>
</div>
<br/>
<hr/>
<a href="{% url 'order_create_view_url' %}" class="remove_from_cart button25">Оформить заказ</a>
{% endblock %}