{% extends 'base.html' %}

{% block wrapper %}
<div class="page-header"><h1>Доставка</h1>
    <h3>При наличии товара в офисе вы можете забрать его самостоятильно либо оформить доставку.</h3>
    <h3>Условия доставки</h3>
    <h4>1. Бесплатная доставка по г. Иркутску при стоимости покупки от 3000 рублей.</h4>
    <h4>2. Если стоимость покупки составляет меньше 3000 рублей, то стоимость доставки по г.Иркутску составит 300 рублей.</h4>
    <h4>3. Возможна отправка в регионы, стоимость отправки обсуждается индивидуально.</h4>
</div>
{% endblock %}